html, body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#display {
    grid-area: display;
    min-height: 125px;
    max-height: 125px;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(199, 209, 160);
    margin: 10px;
    border-radius: 25px;
    font-family: monospace;
    font-size: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}
#clear {
    grid-area: clear;
    background-color: rgb(40, 133, 255);
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 100px;
}
#clear:active {
    background-color: rgb(30, 102, 196);
}
#posneg {
    grid-area: posneg;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 100px;
}
#percent {
    grid-area: percent;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 100px;
}
#divide {
    grid-area: divide;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 100px;
}
#multiply {
    grid-area: multiply;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#subtract {
    grid-area: subtract;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#add {
    grid-area: add;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#equals {
    grid-area: equals;
    background-color: rgb(93, 216, 77);
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#equals:active {
    background-color: rgb(69, 158, 57);
}
#decimal {
    grid-area: period;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#one {
    grid-area: one;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#two {
    grid-area: two;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#three {
    grid-area: three;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#four {
    grid-area: four;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#five {
    grid-area: five;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#six {
    grid-area: six;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#seven {
    grid-area: seven;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#eight {
    grid-area: eight;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#nine {
    grid-area: nine;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#zero {
    grid-area: zero;
    margin: 7px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 110px;
}
#calc-body {
    width: 500px;
    min-width: 0;
    height: 700px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "display display display display"
        "clear posneg percent divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "period zero equals equals";
}
.num, .op, .btn {
    cursor: pointer;
}
.num {
    background-color: rgb(157, 169, 185);
}
.op, .btn {
    background-color: rgb(228, 171, 50);
}
.num:active {
    background-color: rgb(119, 129, 141);
    box-shadow: inset 0px 0px 10px #555;
}
.op:active, .btn:active {
    background-color: rgb(179, 134, 39);
    box-shadow: inset 0px 0px 10px #555;
}